<div class="user-show-container">	
	<div class="row entdiv" id="show_header">
		<div class="col-xs-4">
			<center>
			<div class="profile-pic-container">
			<!-- <button class="change-profile-pic btn btn-default">Change Photo</button> -->
			<% if (user.image().has('m_url')) { %>
					<img id="user-show-image" src="<%= user.image().get('m_url') %>">
			<% } else { %>
					<img id="user-show-image" src=<%= Diveloggr.defaultProfileImg %>>
			<% } %>
			</div>
		</center>
		</div>
		<div class="col-xs-8">
			<span id="user-title"><%= user.escape("fname") %> <%= user.escape("lname") %></span>
		</div>
	</div>
	<div class="row">
		<hr class="blackbreak">
	</div>
	<div class="row entdiv" id="user-information">
		<div class="col-xs-12">
			<h1><%= user.escape('fname') %>'s Details</h1>
		</div>
	</div>
	<div class="row entfield">
		<div class="col-xs-12">
			<div class="dl-horizontal" id="user-info-def">
				<h3><dt>Location: </dt></h3>
				<dd><%= user.escape('location') %></dd>
				<h3><dt>Age: </dt></h3>
				<dd><%= user.escape('age') %></dd>
				<h3><dt>Highest Certification: </dt></h3>
				<dd><%= user.escape('exp') %></dd>
				<h3><dt>Total Dives: </dt></h3>
				<dd><%= user.escape('numdives') %></dd>
				<h3><dt>Diveloggr Entries: </dt></h3>
				<dd><%= numEntries %></dd>
			</div>
		</div>
	</div>
	<div class="row entdiv">
		<div class="col-xs-12">
			<h1>Logged Dives</h1>
		</div>
	</div>
	<div class="row">
		<% if(numEntries > 0) { %>
			<center>
				<div class="col-xs-12" id="no-dives-logged">
					<button type="button" class="log-a-dive-btn btn btn-lg btn-primary">
						Log Your Dive
					</button>
				</div>
			</center>
		<% } %>
		<!-- User logged entries gets injected into the table below -->
		<div class="col-xs-12">
			<table class="table">
				<thead>
					<th>No.</th>
					<th>Title</th>
					<th>Location</th>
					<th>Date</th>
					<th>Time</th>
				</thead>
				<tbody id="user-entry-subview-insertion">
				</tbody>
			</table>
		</div>
	</div>
	<div class="row entdiv" id="show-foot">
		<div id="footer-spacer">
			<h1></h1>
		</div>
	</div>
</div>