<td><%= entry.escape('divenum') %></td>
<td><%= entry.escape('title') %></td>
<td><%= entry.escape('location_name') %></td>
<td><%= entry.escape('entrydate') %></td>
<td><%= entry.escape('entrytime') %></td>