<div class="row entdiv" id="show_header">
	<div class="col-xs-12">
<h1>
<% if (entry.isNew()) { %>
	New Dive
<% } else { %>
	Update Dive
<% } %>
</h1>

<p>Required: Title, Body, Date, Location.</p>
</div>
</div>
<hr>
<form role="form" id="entry_form_el">
	<div class="row">
		<div class="col-xs-6" id="cat-header">
			<h3>Base Data</h3>
		</div>
		<div class="col-xs-6" id="cat-header">
			<h3>Dive Profile</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
		  <div class="form-group">
		    <label for="divenum">Dive Number</label>
		    <input type="text" class="form-control" id="divenum" name="entry[divenum]" placeholder="No." value="<%= entry.escape('divenum') %>">
		  </div>
		  <div class="form-group">
		    <label for="entrytime">Entry Date & Time</label>
		    <input type="datetime" class="form-control" id="entrytime" name="entry[entrytime]" value="<%= entry.escape('entrytime') %>">
		  </div>
	  </div>
	  <div class="col-xs-6">
		  <div class="form-group">
			  <label for="maxdepth">Max Depth</label>
			  <input type="text" class="form-control" id="maxdepth" name="entry[maxdepth]" placeholder="fsw" value="<%= entry.escape('maxdepth') %>">
		  </div>
		  <div class="form-group">
			  <label for="avgdepth">Average Depth</label>
			  <input type="text" class="form-control" id="avgdepth" name="entry[avgdepth]" placeholder="fsw" value="<%= entry.escape('avgdepth') %>">
		  </div>
		  <div class="form-group">
			  <label for="divetime">Dive Time</label>
			  <input type="text" class="form-control" id="divetime" name="entry[divetime]" placeholder="mins"  value="<%= entry.escape('divetime') %>">
		  </div>
	  </div>
	</div>
	<div class="row">
		<div class="col-xs-12" id="cat-header">
			<h3>Location Data</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4">
		  <div class="form-group">
			
			  <label for="location">Location Name</label>
			  <input type="text" class="form-control" id="location" name="entry[location_name]" value="<%= entry.escape('location_name') %>">
		
			  <label for="latitude">Latitude</label>
			  <input type="text" class="form-control" id="latitude" name="entry[latitude]" value="<%= entry.escape('latitude') %>">
		  
			  <label for="longitude">Longitude</label>
			  <input type="text" class="form-control" id="longitude" name="entry[longitude]" value="<%= entry.escape('longitude') %>">
		  </div>
		  <% if(entry.isNew()) { %>
		  	<p>Click the map to drop a location marker.  Drag the location marker to the correct location to populate the latitude and longitude for your dive.</p>
		  <% } else { %>
			  <p>Click the map to drop a location revision marker.  Drag the revision marker to the correct location to populate the latitude and longitude for your dive.</p>
		  <% } %>
	  </div>
	  <div class="col-xs-8">
		  <div id="map-container">
		  </div>
	  </div>
	</div>
	<div class="row">
		<div class="col-xs-8" id="cat-header">
			<h3>Topside Conditions</h3>
		</div>
		<div class="col-xs-4" id="cat-header">
			<h3>Underwater Conditions</h3>
		</div>
	</div> <!-- Row for Above/Below headers -->
	<div class="row"> <!-- Row for Above/Below conditions including subheaders -->
		<div class="col-xs-4">
			<div class="row">
				<div class="col-xs-4" id="cat-subheader">
					<h4>Weather</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
				    <div class="form-group">
						<div id="button-group">
					  	<label class="radio">
					  	  <input type="radio" name="entry[weather]" id="weather" value="Clear"> Clear
					  	</label>
					  	<label class="radio">
					  	  <input type="radio" name="entry[weather]" id="weather" value="Cloudy"> Cloudy
					  	</label>
					  	<label class="radio">
					  	  <input type="radio" name="entry[weather]" id="weather" value="Mist"> Mist
					  	</label>
					  	<label class="radio">
					  	  <input type="radio" name="entry[weather]" id="weather" value="Rain"> Rain
					  	</label>
					  	<label class="radio">
					  	  <input type="radio" name="entry[weather]" id="weather" value="Snow"> Snow
					  	</label>
					  	<label class="radio">
					  	  <input type="radio" name="entry[weather]" id="weather" value="Stormy"> Stormy
					  	</label>
						</div>
				    </div>
				</div>
			</div> <!-- Radio Buttons for Weather -->
			<div class="row">
				<div class="form-group">
				  	<label>Air Temp
				  		<input type="text" id="smalldig" name="entry[airtemp]" placeholder="°F">
				  	</label>
				</div>
			</div>
		</div> <!-- Col container for Weather including header -->
		<div class="col-xs-4"><!-- Col container for Surface Conditions including header -->
			<div class="row"> <!-- Row for Surface Conditions Header -->
				<div class="col-xs-12" id="cat-subheader">
					<h4>Surface Conditions</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
				  <div class="form-group">
					  <div id="button-group">
					<label class="radio">
					  <input type="radio" name="entry[surface]" id="surface" value="Big Waves"> Big Waves
					</label>                                 
					<label class="radio">             
					  <input type="radio" name="entry[surface]" id="surface" value="Choppy"> Choppy
					</label>                                 
					<label class="radio">             
					  <input type="radio" name="entry[surface]" id="surface" value="Small Waves"> Small Waves
					</label>                                 
					<label class="radio">             
					  <input type="radio" name="entry[surface]" id="surface" value="Calm"> Calm
					</label>
					</div>
				  </div>
				</div>
			</div> <!-- Row for Surface Conditions Input -->
		</div>
		<div class="col-xs-4"> <!-- Col container for Current -->
			<div class="row">
				<div class="col-xs-4" id="cat-subheader">
					<h4>Current</h4>
				</div>
			</div><!-- Row for Current Header -->
			<div class="row"><!-- Row container for current radio inputs -->
				<div class="col-xs-3">
					<div id="button-group">
					<label class="radio">
					  <input type="radio" name="entry[current]" id="current" value="Strong"> Strong
					</label>
					<label class="radio">
					  <input type="radio" name="entry[current]" id="current" value="Medium"> Medium
					</label>
					<label class="radio">
					  <input type="radio" name="entry[current]" id="current" value="Light"> Light
					</label>
					<label class="radio">
					  <input type="radio" name="entry[current]" id="current" value="None"> None
					</label>
					</div>
				</div>
			</div>
			<div class="row"><!-- Row container for vis and water temp -->
				<div class="col-xs-4">
				    <div class="form-group">
				  	<label>Visibility
				  		<input type="text" id="smalldig" name="entry[vis]" placeholder="ft.">
				  	</label>
				  	<label>Water Temp
				  		<input type="text" id="smalldig" name="entry[watertemp]" placeholder="°F">
				  	</label>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row"> <!-- Row for Dive Type header -->
		<div class="col-xs-12" id="cat-header">
			<h3>Dive Type</h3>
		</div>
	</div>
	<div class="row"> <!-- Row for Dive type inputs -->
		<div class="col-xs-12">
		    <div class="form-group">
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Fun"> Fun
		  	  </label>
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Night"> Night
		  	  </label>
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Drift"> Drift
		  	  </label>
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Cave"> Cave
		  	  </label>
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Photography"> Photography
		  	  </label>
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Ice"> Ice
		  	  </label>
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Research"> Research
		  	  </label>
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Rescue"> Rescue
		  	  </label>
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Search"> Search
		  	  </label>
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Retrieval"> Retrieval
		  	  </label>
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Instruction"> Instruction
		  	  </label>
		  	  <label class="checkbox-inline">
		  	    <input type="checkbox" id="divetype" name="entry[divetype]" value="Exploration"> Exploration
		  	  </label>
		    </div>
		</div>
	</div>
	<div class="row"> <!-- Row for Entry input header -->
		<div class="col-xs-12" id="cat-header">
			<h3>Your Experience</h3>
		</div>
	</div>
	<div class="row"> <!-- Row for Title/body -->
		<div class="row">
			<div class="col-xs-12">
			    <div class="form-group">
			      <input type="text" class="form-control" id="title" name="entry[title]" placeholder="Title" value="<%= entry.escape('title') %>">
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			    <textarea class="form-control" name="entry[body]" rows="3" placeholder="Body"><%= entry.escape('body') %></textarea>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<center>
		<button type="submit" class="btn btn-success new-entry-button">COMMIT</button>
		<button type="upload" id="form-upload-photos" class="btn btn-primary new-entry-button">ATTACH PHOTOS</button>
		<button type="reset" id="form-reset" class="btn btn-danger new-entry-button">ROLLBACK</button>		
	</center>
		</div>
	</div>
	<div class="row entdiv" id="show-foot">
		<div id="footer-spacer">
			<h1><h1>
		</div>
	</div>
	
</form>