<h1>
<% if (entry.isNew()) { %>
	New Dive
<% } else { %>
	Update Dive
<% } %>
</h1>

<p>Required: title, body, and date.<p>

<form role="form" id="entry_form_el">
  <div class="form-group">
    <label for="divenum">Dive Number</label>
    <input type="text" class="form-control" id="divenum" name="entry[divenum]" placeholder="No." value="<%= entry.escape('divenum') %>">
  </div>
  <div class="form-group">
    <label for="divedate">Entry Date</label>
    <input type="date" class="form-control" id="divedate" name="entry[entrydate]" value="<%= entry.escape('entrydate') %>">
  </div>
  <div class="form-group">
    <label for="entrytime">Entry Time</label>
    <input type="time" id="entrytime" name="entry[entrytime]" value="<%= entry.escape('entrytime') %>">
  </div>
  <div class="form-group">
	  <label for="maxdepth">Max Depth</label>
	  <input type="text" id="maxdepth" name="entry[maxdepth]" value="<%= entry.escape('maxdepth') %>">
  </div>
  <div class="form-group">
	  <label for="avgdepth">Average Depth</label>
	  <input type="text" id="avgdepth" name="entry[avgdepth]" value="<%= entry.escape('avgdepth') %>">
  </div>
  <div class="form-group">
	  <label for="divetime">Dive Time</label>
	  <input type="text" id="divetime" name="entry[divetime]" placeholder="mins"  value="<%= entry.escape('divetime') %>">
  </div>
  <div class="form-group">
	  <label for="location">Location</label>
	  <input type="text" id="location" name="entry[location_name]" value="<%= entry.escape('location_name') %>">
  </div>
  <div class="form-group">
	  <label for="latitude">Latitude</label>
	  <input type="text" id="latitude" name="entry[latitude]" value="<%= entry.escape('latitude') %>">
	  <label for="longitude">Longitude</label>
	  <input type="text" id="longitude" name="entry[longitude]" value="<%= entry.escape('longitude') %>">
  </div>
  <div class="form-group">
	<h3>Weather</h3>
	<label class="radio-inline">
	  <input type="radio" name="entry[weather]" value="Clear"
	    <% if( entry.escape('weather') === "Clear") {  "checked" } %>
	  > Clear
	</label>
	<label class="radio-inline">
	  <input type="radio" name="entry[weather]" value="Cloudy"
		<% if( entry.escape('weather') === "Cloudy") {  "checked" } %>
	  > Cloudy
	</label>
	<label class="radio-inline">
	  <input type="radio" name="entry[weather]" value="Mist"
	  	<% if( entry.escape('weather') === "Mist") { "checked" } %>
	  > Mist
	</label>
	<label class="radio-inline">
	  <input type="radio" name="entry[weather]" value="Rain"
	  	<% if( entry.escape('weather') === "Rain") { "checked" } %>
	  > Rain
	</label>
	<label class="radio-inline">
	  <input type="radio" name="entry[weather]" value="Snow"
	  	<% if( entry.escape('weather') === "Snow") {  "checked" } %>
	  > Snow
	</label>
	<label class="radio-inline">
	  <input type="radio" name="entry[weather]" value="Stormy"
	  	<% if( entry.escape('weather') === "Stormy") { "checked" } %>
	  > Stormy
	</label>
	<label class="form-slider" id="airtemp">Air Temp
		<input type="range" id="airtemp" name="entry[airtemp]" min="-40" max="120" step="1" value="55">
	</label>
  </div>
  <h3>Surface Conditions</h3>
  <div class="form-group">
	<label class="radio-inline">
	  <input type="radio" name="entry[surface]" value="Big Waves"
	    <% if( entry.escape('surface') === "Big Waves") { "checked"} %>
	  > Big Waves
	</label>                                 
	<label class="radio-inline">             
	  <input type="radio" name="entry[surface]" value="Choppy"
	    <% if( entry.escape('surface') === "Choppy") { "checked"} %>
	  > Choppy
	</label>                                 
	<label class="radio-inline">             
	  <input type="radio" name="entry[surface]" value="Small Waves"
	    <% if( entry.escape('surface') === "Small Waves") { "checked"} %>
	  > Small Waves
	</label>                                 
	<label class="radio-inline">             
	  <input type="radio" name="entry[surface]" value="Calm"
	    <% if( entry.escape('surface') === "Calm") { "checked"} %>
	  > Calm
	</label>
  </div>
  <h3>Underwater Conditions</h3>
  <div class="form-group">
	<h3>Current</h3>
	<label class="radio-inline">
	  <input type="radio" name="entry[current]" value="Strong"
	    <% if( entry.escape('current') === "Strong") { "checked"} %>
	  > Strong
	</label>
	<label class="radio-inline">
	  <input type="radio" name="entry[current]" value="Medium"
	    <% if( entry.escape('current') === "Medium") { "checked"} %>
	  > Medium
	</label>
	<label class="radio-inline">
	  <input type="radio" name="entry[current]" value="Light"
	    <% if( entry.escape('currrent') === "Light") { "checked"} %>
	  > Light
	</label>
	<label class="radio-inline">
	  <input type="radio" name="entry[current]" value="None"
	    <% if( entry.escape('current') === "None") { "checked"} %>
	  > None
	</label>
  </div>
  <div class="form-group">
  	<label class="form-slider" id="vis">Visibility
  		<input type="range" id="vis" name="entry[vis]" min="0" max="200" step="2" value="30">
  	</label>
	<label class="form-slider" id="watertemp">Water Temp
		<input type="range" id="watertemp" name="entry[watertemp]" min="-2" max="100" step="1" value="55">
	</label>
  </div>
  <h3>Dive Type</h3>
  <div class="form-group">
	  <label class="checkbox-inline">
	    <input type="checkbox" id="inlineCheckbox1" name="entry[divetype]" value="Fun"> Fun
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" id="inlineCheckbox2" name="entry[divetype]" value="Night"> Night
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" name="entry[divetype]" value="Drift"> Drift
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" name="entry[divetype]" value="Cave"> Cave
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" name="entry[divetype]" value="Photography"> Photography
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" name="entry[divetype]" value="Ice"> Ice
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" name="entry[divetype]" value="Research"> Research
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" name="entry[divetype]" value="Rescue"> Rescue
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" name="entry[divetype]" value="Search"> Search
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" name="entry[divetype]" value="Retrieval"> Retrieval
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" name="entry[divetype]" value="Instruction"> Instruction
	  </label>
	  <label class="checkbox-inline">
	    <input type="checkbox" name="entry[divetype]" value="Exploration"> Exploration
	  </label>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="entry[title]" placeholder="Title" value="<%= entry.escape('title') %>">
  </div>
  <textarea class="form-control" name="entry[body]" rows="3"><%= entry.escape('body') %></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>