<div class="row entdiv" id="show_header">
	<div class="col-xs-3">
		<% if (entry.user().has('image_url')) { %>
				<img id="entry-user-show-image" src="<%= entry.user().get('image_url') %>">
		<% } else { %>
				<img id="entry-user-show-image" src=<%= Diveloggr.defaultProfileImg %>>
		<% } %>
	</div>
	<div class="col-xs-9">
		<h1 id="entry-title"><%= entry.escape("title") %></h1>
	</div>
</div>
<div class ="row entdiv">
	<div class="col-xs-3">
		<h3><%= entry.user().escape('fname') %> <%= entry.user().escape('lname') %></h3>
	</div>
	<div class="col-xs-3">
		<h3><%= entry.user().escape('exp') %></h3>
	</div>
	<div class="col-xs-3">
		<% if(entry.user().has('numdives')) { %>
			<h3><%= entry.user().escape('numdives') %></h3> Dives
		<% } %>
	</div>
</div>
<% if (CURRENT_USER_ID === entry.get("user_id")) { %>
	<div class="row">
		<button class="entry-edit">Edit</button>
		<button class="entry-delete">Delete</button>
	</div>
<% }; %>
<div class="row" id="show_body">
	<h5>Dive Notes:</h5>
	<div class="interior_text_area">
		<%= entry.escape("body") %>
	</div>
</div>
<div class="row entdiv">
	<h2>Key Data<h2>
</div>
<div class="row" id="dive_base_info">
	<div class="col-xs-3">
		<center>
		<h5>Dive Number</h5>
		<h1><%= entry.escape("divenum") %></h1>
		</center>
	</div>
	<div class="col-xs-3">
		<ul>
			<li>Entry Date: <%= entry.escape("entrydate") %></li>
			<li>Entry Time: <%= entry.escape("entrytime") %></</li>
			<li>Location Name: <%= entry.escape("location_name") %></</li>
			<li>Dive Type: <%= entry.escape("divetype") %></</li>
		</ul>
	</div>
	<div class="col-xs-6" id="map-container">
	</div>
</div>
<div class="row entdiv">
	<h2>Conditions</h2>
</div>
<div class="row" id="entry_conditions">
	<div class="col-xs-6">
		<h3>Surface Conditions</h3>
		<ul>
			<li>Weather: <%= entry.escape("weather") %></li>
			<li>Air Temp: <%= entry.escape("airtemp") %></li>
			<li>Surface: <%= entry.escape("surface") %></li>
		</ul>
	</div>
	<div class="col-xs-6">
		<h3>Underwater Conditions</h3>
		<ul>
			<li>Visibility: <%= entry.escape("vis") %></li>
			<li>Current: <%= entry.escape("current") %></li>
			<li>Water Temp: <%= entry.escape("watertemp") %></li>
		</ul>
	</div>
</div>
<div class="row entdiv">
	<h2>Dive Profile</h2>
</div>
<div class="row">
	<div class="col-xs-4" id="max_depth_box">
		<h5>MAX DEPTH<h5>
		<h1><%= entry.escape("maxdepth") %></h1>
	</div>
	<div class="col-xs-4" id="avg_depth_box">
		<h5>AVG DEPTH<h5>
		<h1><%= entry.escape("avgdepth") %></h1>
	</div>
	<div class="col-xs-4" id="divetime_depth_box">
		<h5>DIVE TIME<h5>
		<h1><%= entry.escape("divetime") %></h1>
	</div>
</div>

<% if (entry.images().length > 0) { %>
<div class="row entdiv">
	<h2>Images</h2>
</div>
<% } %>